meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="Description", content=meta_descPage)
meta(name="Keywords", content=meta_keyWordsPage)
meta(property="fb:admins", content="")
meta(property="fb:app_id", content="")
meta(property="og:url", content= meta_canonica)
meta(property="og:type", content="website") 
meta(property="og:title", content=titlePage)
meta(property="og:description", content=descPage)
meta(property="og:image", content=meta_ogImage)
link(rel="icon" type="image/png" sizes="16x16" href="https://www.okpuppets.com/images/favicon-16x16.png")
link(rel="stylesheet", href="https://www.okpuppets.com/css/style.css")
link(rel="stylesheet", href="../css/output.css")
title #{meta_titlePage}

-//script google analitycs 
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-174994582-1")