meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="Description", content=meta_descPage)
meta(name="Keywords", content=meta_keyWordsPage)
meta(property="fb:admins", content="")
meta(property="fb:app_id", content="")
meta(property="og:url", content= meta_canonica)
meta(property="og:type", content="website") 
meta(property="og:title", content=titlePage)
meta(property="og:description", content=descPage)
meta(property="og:image", content=meta_ogImage)
link(rel="icon" type="image/png" sizes="16x16" href="https://www.okpuppets.com/images/favicon-16x16.png")
//-link(rel="stylesheet", href="https://www.okpuppets.com/css/style.css")
link(rel="stylesheet", href=Myurl+"css/style.css")
link(rel="stylesheet", href=Myurl+"css/output.css")
title #{meta_titlePage}

//script google analitycs 

<!-- Google tag (gtag.js) -->
script(async src="https://www.googletagmanager.com/gtag/js?id=G-32VK72FM8K")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-32VK72FM8K');