.top_nav
    a(href="/" title="") 
        .logo
            img(src=Myurl+"images/logo_principal_ok_puppets.png" alt="Logo Ok Puppets")
            h1 #[span >]OK Puppets
    i.menu-icon.icofont-navigation-menu
    i.tache-icon.icofont-ui-close
    nav
        ul.menu
            li 
                a(href=Myurl title="Página de inicio") Inicio
            li 
                a(href=Myurl+"nosotros/" title="Página Nosotros") Nosotros
            li 
                a(href=Myurl+"puppets/" title="Página Catálogo") Puppets
            li 
                a(href=Myurl+"contacto/" title="Página de Contacto") Contacto
        ul.menu2
            li 
                a(href=Myurl title="Página de inicio") Inicio
            li 
                a(href=Myurl+"nosotros/" title="Página Nosotros") Nosotros
            li 
                a(href=Myurl+"puppets/" title="Página Catálogo") Puppets
            li 
                a(href=Myurl+"contacto/" title="Página de Contacto") Contacto